/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
img { display: block; }




[data-tuktuk=boxes]{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;overflow:hidden;}
[data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;}
[data-tuktuk=boxes] > aside > header,[data-tuktuk=boxes] > section > header,[data-tuktuk=boxes] > aside > footer,[data-tuktuk=boxes] > section > footer,[data-tuktuk=boxes] > aside > div > header,[data-tuktuk=boxes] > section > div > header,[data-tuktuk=boxes] > aside > div > footer,[data-tuktuk=boxes] > section > div > footer{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;display:block;height:52px;line-height:52px;padding:0 1em}
[data-tuktuk=boxes] > aside article,[data-tuktuk=boxes] > section article{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;height:0}
[data-tuktuk=boxes] > aside{z-index:2;-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;min-width:224px;margin:0 !important;float:none !important;}
[data-tuktuk=boxes] > aside.absolute{position:absolute;height:inherit;-webkit-transition:all 400ms;-moz-transition:all 400ms;-ms-transition:all 400ms;-o-transition:all 400ms;transition:all 400ms;}
[data-tuktuk=boxes] > aside.absolute:not(.right){-webkit-transform:translateX(-512px);-moz-transform:translateX(-512px);-ms-transform:translateX(-512px);-o-transform:translateX(-512px);transform:translateX(-512px)}
[data-tuktuk=boxes] > aside.absolute.right{-webkit-transform:translateX(512px);-moz-transform:translateX(512px);-ms-transform:translateX(512px);-o-transform:translateX(512px);transform:translateX(512px);right:0}
[data-tuktuk=boxes] > aside.absolute.active{-webkit-transform:translateX(0) !important;-moz-transform:translateX(0) !important;-ms-transform:translateX(0) !important;-o-transform:translateX(0) !important;transform:translateX(0) !important}
[data-tuktuk=boxes] > aside > div{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical}
[data-tuktuk=boxes] > section{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;z-index:0}
[data-tuktuk=boxes] > aside .session,[data-tuktuk=boxes] > section .session{height:inherit;}
[data-tuktuk=boxes] > aside .session > *,[data-tuktuk=boxes] > section .session > *{display:inline-block;float:left}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}



.button,button{display:inline-block;border:none;cursor:pointer;font-size:inherit;font-family:inherit;font-weight:inherit;line-height:2.3em;text-align:center;text-decoration:none;outline:none;}
.button.icon,button.icon{padding:0 .65em}
.button:not(.icon),button:not(.icon){padding:0 1em;}
.button:not(.icon) .icon,button:not(.icon) .icon{margin-right:.5em}
.button.large,button.large{font-size:1.4em}
.button.small,button.small{font-size:.9em}
.button.tiny,button.tiny{font-size:.6em}
.button.anchor,button.anchor{width:100%;position:relative;}
.button.anchor:not(.icon) .icon,button.anchor:not(.icon) .icon{position:absolute;left:1em}


h1,h2,h3,h4,h5,h6{margin:0;padding:0}
 
.text.thin{font-weight:200}
.text.book{font-weight:300}
.text.normal{font-weight:400}
.text.bold{font-weight:700}
.text.italic{font-style:italic}
.text.underline{text-decoration:underline}
.text.uppercase{text-transform:uppercase}
.text.tiny{font-size:.7em}
.text.extratiny{font-size:.6em}
.text.small{font-size:.9em}
.text.big{font-size:1.2em}
.text.large{font-size:1.4em}
.align.left,.text.left{text-align:left}
.align.right,.text.right{text-align:right}
.align.center,.text.center{text-align:center}
.align.justify,.text.justify{text-align:justify}
p{font-size:1.1em}
small{font-size:.9em}
bold, strong{font-weight:700 !important}

form input[type="text"],.form input[type="text"],form input[type="password"],.form input[type="password"],form input[type="date"],.form input[type="date"],form input[type="datetime"],.form input[type="datetime"],form input[type="email"],.form input[type="email"],form input[type="number"],.form input[type="number"],form input[type="search"],.form input[type="search"],form input[type="tel"],.form input[type="tel"],form input[type="time"],.form input[type="time"],form input[type="url"],.form input[type="url"],form textarea,.form textarea{display:inline-block;width:100%;padding:.5em;margin:.1em 0 .25em 0;font-family:inherit;font-size:inherit;-webkit-appearance:none;-webkit-user-select:text;-webkit-font-smoothing:antialiased;}
form input[type="text"]:focus,.form input[type="text"]:focus,form input[type="password"]:focus,.form input[type="password"]:focus,form input[type="date"]:focus,.form input[type="date"]:focus,form input[type="datetime"]:focus,.form input[type="datetime"]:focus,form input[type="email"]:focus,.form input[type="email"]:focus,form input[type="number"]:focus,.form input[type="number"]:focus,form input[type="search"]:focus,.form input[type="search"]:focus,form input[type="tel"]:focus,.form input[type="tel"]:focus,form input[type="time"]:focus,.form input[type="time"]:focus,form input[type="url"]:focus,.form input[type="url"]:focus,form textarea:focus,.form textarea:focus{outline:none !important}
form input[type="text"].large,.form input[type="text"].large,form input[type="password"].large,.form input[type="password"].large,form input[type="date"].large,.form input[type="date"].large,form input[type="datetime"].large,.form input[type="datetime"].large,form input[type="email"].large,.form input[type="email"].large,form input[type="number"].large,.form input[type="number"].large,form input[type="search"].large,.form input[type="search"].large,form input[type="tel"].large,.form input[type="tel"].large,form input[type="time"].large,.form input[type="time"].large,form input[type="url"].large,.form input[type="url"].large,form textarea.large,.form textarea.large{font-size:1.4em}
form textarea,.form textarea{padding:.4em .5em;min-height:2.5em;line-height:1.2em}
form label,.form label{font-size:.9em}
form input[type="checkbox"],.form input[type="checkbox"]{display:inline-block !important;margin-right:.2em;font-family:inherit;font-size:inherit;width:1.45em;height:1.45em;line-height:1em;-webkit-appearance:none;text-align:center;}
form input[type="checkbox"]:after,.form input[type="checkbox"]:after{content:"+";opacity:0;font-size:1.2em;line-height:.9em}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after{opacity:1}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after{content:"Ξ²οΏ½β€�"}
 
 
 
form .fieldset label,.form .fieldset label,form fieldset label,.form fieldset label{display:block;text-align:right;float:left;width:25%;padding:.2em .4em 0 0;}
form .fieldset label > small,.form .fieldset label > small,form fieldset label > small,.form fieldset label > small{display:block;font-size:.8em;font-weight:300}
form .fieldset input[type="text"],.form .fieldset input[type="text"],form fieldset input[type="text"],.form fieldset input[type="text"],form .fieldset input[type="password"],.form .fieldset input[type="password"],form fieldset input[type="password"],.form fieldset input[type="password"],form .fieldset input[type="date"],.form .fieldset input[type="date"],form fieldset input[type="date"],.form fieldset input[type="date"],form .fieldset input[type="datetime"],.form .fieldset input[type="datetime"],form fieldset input[type="datetime"],.form fieldset input[type="datetime"],form .fieldset input[type="email"],.form .fieldset input[type="email"],form fieldset input[type="email"],.form fieldset input[type="email"],form .fieldset input[type="number"],.form .fieldset input[type="number"],form fieldset input[type="number"],.form fieldset input[type="number"],form .fieldset input[type="search"],.form .fieldset input[type="search"],form fieldset input[type="search"],.form fieldset input[type="search"],form .fieldset input[type="tel"],.form .fieldset input[type="tel"],form fieldset input[type="tel"],.form fieldset input[type="tel"],form .fieldset input[type="time"],.form .fieldset input[type="time"],form fieldset input[type="time"],.form fieldset input[type="time"],form .fieldset input[type="url"],.form .fieldset input[type="url"],form fieldset input[type="url"],.form fieldset input[type="url"],form .fieldset textarea,.form .fieldset textarea,form fieldset textarea,.form fieldset textarea{width:75%}
[data-control=checkbox]{display:inline-block;margin:.1em 0 .25em 0;width:5em;position:relative;font-size:inherit;height:2em;line-height:2em;}
[data-control=checkbox],[data-control=checkbox] label{-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-ms-transition:all 200ms ease;-o-transition:all 200ms ease;transition:all 200ms ease}
[data-control=checkbox] input[type=checkbox]{visibility:hidden}
[data-control=checkbox]:after,[data-control=checkbox]:before{z-index:0;position:absolute}
[data-control=checkbox]:before{content:"ON";left:1em;opacity:0}
[data-control=checkbox]:after{content:"OFF";right:1em}
[data-control=checkbox].checked:before{opacity:1;z-index:1}
[data-control=checkbox].checked:after{opacity:0;z-index:0}
[data-control=checkbox] label{display:block;height:1.55em;width:1.55em;margin:.35em;cursor:pointer;position:absolute;top:0;left:0;z-index:1}
[data-control=checkbox] input[type=checkbox]:checked + label{left:3.35em}

.row{margin:0 auto;width:960px;overflow:hidden;display:block;}
.row .row{margin:0 -16px 0 -16px;width:auto;display:inline-block}
[class^="column_"],[class*=" column_"]{margin:0 16px 0 16px;float:left;display:inline}
.column_1{width:48px}
.column_2{width:128px}
.column_3{width:208px}
.column_4{width:288px}
.column_5{width:368px}
.column_6{width:448px}
.column_7{width:528px}
.column_8{width:608px}
.column_9{width:688px}
.column_10{width:768px}
.column_11{width:848px}
.column_12{width:928px}

 

.column_3__{ width:268px}
.column_9__{width:628px}

.offset_1{margin-left:96px}
.offset_2{margin-left:176px}
.offset_3{margin-left:256px}
.offset_4{margin-left:336px}
.offset_5{margin-left:416px}
.offset_6{margin-left:496px}
.offset_7{margin-left:576px}
.offset_8{margin-left:656px}
.offset_9{margin-left:736px}
.offset_10{margin-left:816px}
.offset_11{margin-left:896px}
.show-phone{display:none !important}
.show-tablet{display:none !important}
.show-screen{display:inherit !important}
.hide-phone{display:inherit !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:none !important}


.nomargins .row{margin:0 auto;width:960px;overflow:hidden;display:block;}
.nomargins .row .nomargins .row{margin:0 -16px 0 -16px;width:auto;display:inline-block}
.nomargins [class^="column_"],.nomargins [class*=" column_"]{margin:0 0px 0 0px;float:left;display:inline; }
.nomargins .column_1{width:80px}
.nomargins .column_2{width:160px}
.nomargins .column_3{width:240px}
.nomargins .column_4{width:320px}
.nomargins .column_5{width:400px}
.nomargins .column_6{width:480px}
.nomargins .column_7{width:560px}
.nomargins .column_8{width:640px}
.nomargins .column_9{width:720px}
.nomargins .column_10{width:800px}
.nomargins .column_11{width:880px}
.nomargins .column_12{width:960px}
.nomargins .column_2_padded{width:148px}

#mainsearch {   position:absolute; top:120px; left:0; right:0;  margin:auto;  z-index:100;  } 
#blinds{display:none;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease}
#choices{text-align:right}





@media only screen and (min-width:1600px){#blinds{display:block;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease}}
@media only screen and (min-width:1200px){
	
.royalSlider{max-width:1600px; width:100%}
.row{width:1200px;}
.row .row{margin:0 -20px 0 -20px}
[class^="column_"],[class*=" column_"]{margin:0 20px 0 20px}
.column_1{width:60px}
.column_2{width:160px}
.column_3{width:260px}
.column_4{width:360px}
.column_5{width:460px}
.column_6{width:560px}
.column_7{width:660px}
.column_8{width:760px}
.column_9{width:860px}
.column_10{width:960px}
.column_11{width:1060px}
.column_12{width:1160px}


.offset_1{margin-left:120px}
.offset_2{margin-left:220px}
.offset_3{margin-left:320px}
.offset_4{margin-left:420px}
.offset_5{margin-left:520px}
.offset_6{margin-left:620px}
.offset_7{margin-left:720px}
.offset_8{margin-left:820px}
.offset_9{margin-left:920px}
.offset_10{margin-left:1020px}
.offset_11{margin-left:1120px}
.show-phone{display:none !important}
.show-tablet{display:none !important}
.show-screen{display:inherit}
.hide-phone{display:inherit !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:none !important}

.nomargins .row{margin:0 auto;width:1210px;overflow:hidden;display:block;}
.nomargins .row .nomargins .row{margin:0 0px 0 0px;width:auto;display:inline-block}
.nomargins [class^="column_"],.nomargins [class*=" column_"]{margin:0 0px 0 0px;float:left;display:inline; }
.nomargins .column_1{width:100px}
.nomargins .column_2{width:200px}
.nomargins .column_3{width:300px}
.nomargins .column_4{width:400px}
.nomargins .column_5{width:500px}
.nomargins .column_6{width:600px}
.nomargins .column_7{width:700px}
.nomargins .column_8{width:800px}
.nomargins .column_9{width:900px}
.nomargins .column_10{width:1000px}
.nomargins .column_11{width:1100px}
.nomargins .column_12{width:1200px}
.nomargins .column_2_padded{width:188px}

.nomargins .column_4__{width:390px}
.nomargins .column_2__{width:50%}


#mainsearch .row{width:1080px;} 
#mainsearch .nomargins .row{margin:0 auto;width:1080px;overflow:hidden;display:block;}
#mainsearch .nomargins .row .nomargins .row{margin:0 -16px 0 -16px;width:auto;display:inline-block}
#mainsearch .nomargins [class^="column_"], #mainsearch .nomargins [class*=" column_"]{margin:0 0px 0 0px;float:left;display:inline; }
#mainsearch .nomargins .column_1{width:90px}
#mainsearch .nomargins .column_2{width:180px}
#mainsearch .nomargins .column_3{width:270px}
#mainsearch .nomargins .column_4{width:360px}
#mainsearch .nomargins .column_5{width:450px}
#mainsearch .nomargins .column_6{width:540px}
#mainsearch .nomargins .column_7{width:630px}
#mainsearch .nomargins .column_8{width:720px}
#mainsearch .nomargins .column_9{width:810px}
#mainsearch .nomargins .column_10{width:900px}
#mainsearch .nomargins .column_11{width:990px}
#mainsearch .nomargins .column_12{width:1080px}
#mainsearch .nomargins .column_2_padded{width:170px}

 
}


@media only screen and (min-width: 768px) and (max-width: 959px){
	
 
	
.row{width:768px;}
.row .row{margin:0 -14px 0 -14px}
[class^="column_"],[class*=" column_"]{margin:0 14px 0 14px}
.column_1{width:36px}
.column_2{width:100px}
.column_3{width:164px;}
.column_4{width:228px}
.column_5{width:362px}
.column_6{width:356px}
.column_7{width:420px}
.column_8{width:484px}
.column_9{width:548px;}
.column_10{width:612px}
.column_11{width:676px}
.column_12{width:740px}

 
 

.offset_1{margin-left:78px}
.offset_2{margin-left:142px}
.offset_3{margin-left:206px}
.offset_4{margin-left:270px}
.offset_5{margin-left:334px}
.offset_6{margin-left:398px}
.offset_7{margin-left:462px}
.offset_8{margin-left:526px}
.offset_9{margin-left:590px}
.offset_10{margin-left:654px}
.offset_11{margin-left:718px}
.show-phone{display:none !important}
.show-tablet{display:inherit !important}
.show-screen{display:none !important}
.hide-phone{display:inherit !important}
.hide-tablet{display:none !important}
.hide-screen{display:inherit !important}


.nomargins .row{margin:0 auto;width:768px;overflow:hidden;display:block;}
.nomargins .row .row  {margin:0 0px 0 0px}
.nomargins [class^="column_"],nomargins [class*=" column_"]{margin:0 0px 0 0px}
.nomargins .column_1{width:64px}
.nomargins .column_2{width:128px}
.nomargins .column_3{width:192px;}
.nomargins .column_4{width:228px}
.nomargins .column_5{width:292px}
.nomargins .column_6{width:356px}
.nomargins .column_7{width:420px}
.nomargins .column_8{width:484px}
.nomargins .column_9{width:548px;}
.nomargins .column_10{width:612px}
.nomargins .column_11{width:676px}
.nomargins .column_12{width:740px}
.nomargins .column_2_padded{width:116px}

.nomargins .row{width:768px;}
.nomargins [class^="column_"], .nomargins [class*=" column_"]{width:768px;margin:10px 0 0 0}
.offset_1,.offset_2,.offset_3,.offset_4,.offset_5,.offset_6,.offset_7,.offset_8,.offset_9,.offset_10,.offset_11{margin-left:0}

.dark_opacity_4 {background-color:rgba(0,0,0,0)!important;}	
#choices{text-align:left; }
#choices button{width:32%}
.column_2.logo{width:200px;}
#mainsearch {  padding-bottom:0px;  position:absolute; top:60px; left:0; right:0;  margin:auto;  z-index:100;  }

.nomargins.row_search{width:450px!important;  margin:0px auto}
.nomargins.row_search [class^="column_"], .nomargins.row_search [class*=" column_"]{width:100%; }
}


@media only screen and (max-width: 767px){
body  .dark_opacity_4 {background-color:rgba(0,0,0,0)!important;}	
#choices{text-align:left; }
#choices button{width:32%}
#mainsearch {background-color:#2A292E; padding-bottom:50px;  position:static; top:0px; left:0; right:0;  margin:auto;  z-index:100;  }
	.row{width:300px;}
.row .row{margin:0}
[class^="column_"],[class*=" column_"]{width:300px;margin:10px 0 0 0}
.offset_1,.offset_2,.offset_3,.offset_4,.offset_5,.offset_6,.offset_7,.offset_8,.offset_9,.offset_10,.offset_11{margin-left:0}
.show-phone{display:inherit !important}
.show-tablet{display:none !important}
.show-screen{display:none !important}
.hide-phone{display:none !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:inherit !important}

.nomargins .row{width:300px;}
.nomargins [class^="column_"], .nomargins [class*=" column_"]{width:300px;margin:10px 0 0 0}
.offset_1,.offset_2,.offset_3,.offset_4,.offset_5,.offset_6,.offset_7,.offset_8,.offset_9,.offset_10,.offset_11{margin-left:0}


}


@media only screen and (min-width: 480px) and (max-width: 767px){.row{margin:0 auto;width:456px}
#choices{text-align:left}
body  .dark_opacity_4 {background-color:rgba(0,0,0,0)!important;}
.row .row{margin:0;width:auto;display:inline-block}
[class^="column_"],[class*=" column_"]{margin:10px 0 0 0;width:456px}
.show-phone,.hide-tablet,.hide-screen{display:inherit !important}
.show-tablet,.show-screen,.hide-phone{display:none !important}

.nomargins .row{margin:0 auto;width:456px;overflow:hidden;display:block;}
 
.nomargins [class^="column_"], .nomargins [class*=" column_"]{width:456px;margin:10px 0 0 0}
.offset_1,.offset_2,.offset_3,.offset_4,.offset_5,.offset_6,.offset_7,.offset_8,.offset_9,.offset_10,.offset_11{margin-left:0}

}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline}
body,html{height:100%;width:100%}
body{margin:0;padding:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
body *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body > header{}
body > header nav a{margin:0 .5em;}
body > header nav a:last-child{margin-right:0}
body > footer{padding:3em 0 3em 0;}
body > .padding{padding:2em 0}

body   .paddingsmall{padding:0.2em;}
body  section.landing{padding:4em 0;}
body  section.padding{padding:2em 0;}
body  section.paddingsmall{padding:0.8em 0;}

 

body > section.landing .form.subscribe{margin-top:1em;}
body > section.landing .form.subscribe *{float:left}
body > section.landing .form.subscribe input{-webkit-box-flex:;-moz-box-flex:;-ms-box-flex:;-o-box-flex:;box-flex:;width:85%;border-right:0;margin-top:0;border:0}
body > section.landing .form.subscribe .button,body > section.landing .form.subscribe button{width:15%;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none}
a{text-decoration:none;outline:0}

ul{list-style:none;}
ul.square li,ul.circle li{margin:0 0 .3em .6em}
__ul:not(.none) li{padding:0;background:none}
ul.none{list-style:none outside;margin:0}
ul.square,ul.square ul{list-style:square outside}
ul.circle,ul.circle ul{list-style:circle outside}
ol{margin:0 0 .3em .6em;list-style:decimal;}
ol li{padding:0}
ul ul,ol ul,ul ol,ol ol{margin:.5em;}
ul ul li,ol ul li,ul ol li,ol ol li{margin:0 0 .3em 0}

@media only screen and (min-width:1200px){header{height:auto}
}@media only screen and (min-width: 960px) and (max-width: 1199px){header{height:auto}
}@media only screen and (min-width: 768px) and (max-width: 959px){header{height:auto}
}@media only screen and (min-width: 480px) and (max-width: 767px){header{height:auto !important}
}@media only screen and (max-width: 767px){header{height:auto !important}
}@media only screen and (max-width: 767px){body{font-size:13px !important}
header{height:auto !important;line-height:32px}
nav button,nav .button,nav a{text-align:center;display:block !important;margin:2px 0 !important;line-height:32px}
nav.group a{border:none !important}
}@media only screen and (-webkit-min-device-pixel-ratio:1.5){header{height:auto}
}
 
nav[data-tuktuk=menu] > a small{font-size:font-size-tiny;margin-left:.4em}
nav[data-tuktuk=menu] > a .icon{display:inline-block;width:1em;margin-right:.5em}
section nav[data-tuktuk=menu] > a,header nav[data-tuktuk=menu] > a,footer nav[data-tuktuk=menu] > a{line-height:2.5em;padding:0 1em;display:inline-block;}
section nav[data-tuktuk=menu] > a:not(:first-child),header nav[data-tuktuk=menu] > a:not(:first-child),footer nav[data-tuktuk=menu] > a:not(:first-child){margin-left:.5em}
[data-tuktuk=boxes] aside nav[data-tuktuk=menu]{margin:.5em;}
[data-tuktuk=boxes] aside nav[data-tuktuk=menu] > a{display:block;padding:.6666666666666666em .5em}

 

table{margin:1em 0;width:100%;border-spacing:0em;}
table td,table th{padding:.5em .5em}
table th,table td.highlight{font-weight:bold}
 
.scroll{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-box-flex:1;}
.scroll.horizontal{overflow-x:scroll;overflow-y:hidden;white-space:nowrap}
.clear{clear:both}
.on-left{float:left}
.on-right{float:right}
.block{display:block}
.inline{display:inline-block}
.none{display:none}
.margin-none{margin:0}
.margin{margin:1em}
.margin-left{margin-left:1em}
.margin-right{margin-right:1em}
.margin-top{margin-top:1em}
.margin-bottom{margin-bottom:1em}
.padding-none{padding:0}
.padding-small{padding:0.3em}
.padding{padding:1em}
.padding-left{padding-left:1em !important}
.padding-right{padding-right:1em !important}
.border-left{border-left:1px solid rgba(0,0,0,0.1) !important}
.border-right{border-right:1px solid rgba(0,0,0,0.1) !important}

.padding-top{padding-top:1em !important}
.padding-bottom{padding-bottom:1em !important}
div.img{height:64px;}
div.img.h128{height:128px}
div.img.h256{height:256px}
div.img.h512{height:512px}
img{border:0;-ms-interpolation-mode:bicubic;}
img.responsive{width:100%;height:auto;}
img.responsive.vertical{height:100%;width:auto}
img.rounded{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}
.round_corners{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
:not(.icon).tag{position:relative;top:-2px;padding:1px 3px;font-weight:bold !important;font-size:9px !important;text-transform:uppercase}
hr{border:0;height:1px;margin:0}
[data-tuktuk=totals]{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;text-align:center;list-style:none;}
[data-tuktuk=totals] > *{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;}
[data-tuktuk=totals] > * > strong{display:block;font-size:1.8em;line-height:font-size-tiny}
[data-tuktuk=totals] > * > small{text-transform:uppercase;font-size:font-size-tiny}
[data-tuktuk=buttons]{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;}
[data-tuktuk=buttons] > *{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;display:inherit}
